body {
  overflow-y: auto !important; }

h1 {
  margin-top: 0; }

.content-separator {
  margin-bottom: 10px;
  clear: both; }

.content-separator.larger {
  margin-bottom: 15px; }

.content-separator.largest {
  margin-bottom: 20px; }

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.row:after,
.clearfix:after {
  clear: both; }

.row,
.clearfix {
  zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

#header_player_container {
  position: absolute;
  right: 363px;
  top: 18px;
  font-size: .8em;
  text-align: right; }

#header_player_controls {
  display: none;
  float: left; }

#header_player_pause {
  display: none; }

#header_player_title, #header_player_time {
  color: #CCC; }

#header_player_title {
  display: none; }

#volume_control_container {
  float: right;
  width: auto;
  margin: 14px 15px 0 0; }

#volume_control {
  width: 100px;
  -webkit-appearance: none;
  -moz-apperance: none;
  border-radius: 1px;
  height: 7px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0.15, #62b2e8), color-stop(0.15, #386f8a)); }

#volume_control:focus {
  outline: none; }

#volume_control::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background-color: #E9E9E9;
  border-radius: 1px;
  height: 12px;
  width: 12px; }

/* Player */
.player {
  position: relative; }
  .player .waveform-background {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .player .waveform-background.loaded {
    background: linear-gradient(to bottom, #7d7e7d 0%, #0e0e0e 100%); }
  .player .waveform {
    display: none;
    position: relative; }
  .player .progress {
    position: absolute;
    z-index: 10;
    width: 90%;
    top: 50%;
    left: 5%; }
  .player .progress-bar {
    background: #CCC;
    box-shadow: none; }
    .player .progress-bar span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      color: #FFF; }
  .player .progress-bar-time {
    display: none;
    position: absolute;
    left: 0;
    height: 13px;
    background: black;
    color: #619fd4;
    z-index: 11;
    font-size: .7em;
    line-height: 12px;
    padding: 0 3px; }
  .player .controls-container a {
    margin-right: 2px; }
  .player .controls-container a.last {
    margin-right: 0; }
  .player .pause-button, .player .comment-bubble {
    display: none; }
  .player .comment-bubble {
    z-index: 200;
    position: absolute;
    width: 300px;
    height: 110px;
    top: 104px;
    left: 175px;
    background-color: #FFF;
    border: 1px solid #cccccc;
    border-radius: 3px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.15);
    padding: 8px; }
    .player .comment-bubble .value {
      border: 1px solid #cccccc;
      margin: 0;
      width: 281px;
      height: 65px;
      outline: none;
      padding: 6px;
      font-size: .8em; }
    .player .comment-bubble .controls {
      margin-top: 6px;
      font-size: .9em; }
      .player .comment-bubble .controls label {
        color: #555;
        font-weight: normal; }
      .player .comment-bubble .controls .input-value {
        width: 45px;
        border: 1px solid #cccccc;
        font-size: .9em;
        padding: 3px 4px 2px;
        outline: none; }
      .player .comment-bubble .controls .input-value[disabled] {
        background: #F2F2F2; }
  .player .add-comment-marker-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 96px;
    width: 1px;
    z-index: 200;
    background-color: rgba(49, 115, 150, 0.6); }
  .player .comments-container {
    display: none;
    position: absolute;
    height: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 190;
    background-color: rgba(255, 255, 255, 0.4); }
    .player .comments-container .comment {
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      cursor: pointer;
      background: #555; }
      .player .comments-container .comment .comment-hover {
        display: none;
        position: absolute;
        left: 0;
        top: -76px;
        height: 76px;
        background-color: rgba(255, 255, 255, 0.6);
        font-size: .8em;
        cursor: default; }
    .player .comments-container .comment-data {
      display: none;
      position: absolute;
      top: 0;
      background-color: #333;
      color: #FFF;
      padding: 3px 8px;
      font-size: .7em;
      z-index: 100; }
      .player .comments-container .comment-data span {
        font-size: .9em;
        color: #cccccc; }
      .player .comments-container .comment-data p {
        margin: 0; }
    .player .comments-container .comment-tools {
      display: none;
      position: absolute;
      top: 0;
      background-color: red;
      width: 100px;
      height: 30px; }
  .player .marker {
    display: none;
    background: #CCC;
    width: 3px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    height: 96px;
    cursor: ew-resize; }
  .player .add-comment-start-marker {
    float: left; }
  .player .add-comment-end-marker {
    float: right; }
  .player.big, .player.song_page {
    margin-bottom: 16px; }
    .player.big .header, .player.song_page .header {
      margin-bottom: 9px; }
      .player.big .header h2, .player.song_page .header h2 {
        font-size: 1.8em;
        line-height: 31px;
        margin: 0 15px 0 0; }
        .player.big .header h2 a, .player.song_page .header h2 a {
          color: #333333; }
        .player.big .header h2 a:hover, .player.song_page .header h2 a:hover {
          text-decoration: none; }
      .player.big .header .song-version-info, .player.song_page .header .song-version-info {
        float: right;
        color: #AAA;
        font-size: .8em;
        margin: 11px 8px 0 0; }
      .player.big .header .checkbox, .player.song_page .header .checkbox {
        margin: 10px 7px 0 0;
        cursor: pointer; }
      .player.big .header .version-dropdown, .player.song_page .header .version-dropdown {
        margin-top: 6px; }
      .player.big .header .user-tools, .player.song_page .header .user-tools {
        margin: 5px 4px 0 0; }
    .player.big .waveform, .player.song_page .waveform {
      height: 96px;
      background-size: 100% 100%;
      background-repeat: no-repeat; }
    .player.big .waveform-and-timeline-container, .player.song_page .waveform-and-timeline-container {
      position: relative;
      height: 96px;
      margin-bottom: 7px;
      background: #F2F2F2;
      border-radius: 3px; }
    .player.big .waveform-mask, .player.song_page .waveform-mask {
      -webkit-border-radius: 3px;
      -webkit-border-bottom-left-radius: 0;
      -moz-border-radius: 3px;
      -moz-border-radius-bottomleft: 0;
      border-radius: 3px;
      border-bottom-left-radius: 0;
      overflow: hidden;
      -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); }
    .player.big .waveform-container, .player.song_page .waveform-container {
      height: 96px;
      position: relative;
      background: #F2F2F2;
      border-radius: 3px;
      margin-bottom: 8px; }
      .player.big .waveform-container .loading-container, .player.song_page .waveform-container .loading-container {
        text-align: center;
        height: 96px;
        line-height: 96px;
        font-size: .9em;
        color: #AAA; }
      .player.big .waveform-container .progress-container, .player.song_page .waveform-container .progress-container {
        position: absolute;
        top: 0;
        left: 0;
        height: 96px;
        background: linear-gradient(to bottom, #62b2e8 0%, #386f8a 100%); }
    .player.big .progress-bar-time, .player.song_page .progress-bar-time {
      cursor: default;
      top: 41.5px; }
    .player.big .progress-bar-time::selection, .player.song_page .progress-bar-time::selection {
      background-color: #000; }
    .player.big .progress-bar-time::-moz-selection, .player.song_page .progress-bar-time::-moz-selection {
      background-color: #000; }
    .player.big .progress, .player.song_page .progress {
      height: 20px;
      top: 38px; }
    .player.big .duration-time-bar, .player.song_page .duration-time-bar {
      display: none;
      position: absolute;
      width: 33px;
      right: 0;
      top: 41.5px;
      font-size: .7em;
      z-index: 10;
      text-align: center;
      height: 13px;
      background: black;
      color: #FFF;
      line-height: 12px;
      padding: 0 3px; }
    .player.big .player-error-container, .player.song_page .player-error-container {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      height: 96px;
      line-height: 96px;
      color: #AAA;
      font-size: .9em; }

.waveform-container::selection, .waveform-container::-moz-selection, .player::selection, .player::-moz-selection {
  background-color: #FFF; }

.tab-content .tab-pane {
  margin-top: 13px; }
